.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
}

.button {
    display: block;
    width: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    background-color: blueviolet;
    color: #FFFFFF;
    outline: 2px solid black;
    margin: 0 auto 15px;
    padding: 4px;
    text-align: center;
}

.home_button {
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    width: 75px;
    display: block;
    background-color: blueviolet;
    color: #FFFFFF;
    outline: 2px solid black;
    padding: 8px;
}

h1 {
    text-align: center;
}